.otpField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.otpFieldInput {
  width: 46px;
  height: 46px;
  margin: 3px;
  box-sizing: border-box;
  border: 0.2rem solid #eeeeee;
  border-radius: 0.5rem;
  background: #f7f7f8;
  color: #bf3ddb;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}
.otpFieldInput::-webkit-outer-spin-button,
.otpFieldInput::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.otpFieldInput[type="number"] {
  appearance: textfield;
}
.otpFieldInput:focus {
  border-color: #bf3ddb;
  outline: none;
}
.otpFieldInput:disabled {
  background-color: #f3f3f3;
  color: #aaa;
}
.otpFieldHasError .otpFieldInput {
  border-color: #f0343e;
}

.card {
  width: 100%;
  border-radius: 53px;
  background-color: white;
  min-height: 100%;
  padding: 32px 0;
}

.imageSection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  gap: 1rem;
  margin-bottom: 1rem;
}

.descriptionSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 1rem;
}

.tryPayGlideText,
.tryPayGlideTextCongratz {
  font-family: "NeueMontreal";
  font-weight: 700;
  font-size: 22px;
  color: black;
  text-align: left;
  margin-bottom: 0.7rem;
}

.tryPayGlideDescription {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
  color: #9fa2b9;
}

.socialSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0rem;
  align-items: center;
  margin-bottom: 0.7rem;
}

.socialFloatCard {
  width: 32px;
  height: 32px;
  border-radius: 7px;
  margin: 0 2.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0.389333px 0.583999px rgba(1, 45, 92, 0.3),
    0px 1.94764px 2.336px rgba(0, 31, 65, 0.2),
    inset 0.389333px 0.712479px 0.973331px #ffffff,
    inset 1.82402px 2.79735px 4.54546px rgba(255, 255, 255, 0.8),
    inset 0px -1.168px 1.55733px rgba(255, 255, 255, 0.5);
}
.socialTwitterCard {
  border-radius: 7px;
  width: 32px;
  height: 32px;
  margin: 0 2.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1da1f2 0%, #1e99e6 100%);
  box-shadow: 0px 5px 7.5px rgba(30, 153, 229, 0.3),
    0px 2px 6px rgba(0, 0, 0, 0.14),
    inset 0.389333px 0.712479px 0.973331px rgba(255, 255, 255, 0.2),
    inset 1.82402px 2.79735px 4.54546px rgba(255, 255, 255, 0.2),
    inset 0px -1.168px 1.55733px rgba(96, 96, 96, 0.1);
  padding-top: 3px;
}
.socialDiscordCard {
  border-radius: 7px;
  width: 32px;
  height: 32px;
  margin: 0 2.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a11df2 0%, #461ee6 100%);
  box-shadow: 0px 5px 7.5px rgba(201, 30, 229, 0.2),
    0px 2px 6px rgba(0, 0, 0, 0.14),
    inset 0.389333px 0.712479px 0.973331px rgba(255, 255, 255, 0.2),
    inset 1.82402px 2.79735px 4.54546px rgba(255, 255, 255, 0.2),
    inset 0px -1.168px 1.55733px rgba(96, 96, 96, 0.1);
  padding-top: 3px;
}
.socialWebCard {
  border-radius: 7px;
  width: 32px;
  height: 32px;
  margin: 0 2.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(136.53deg, #e87dff 0%, #1eaae6 146.2%);
  box-shadow: 0px 5px 7.5px rgba(30, 153, 229, 0.3),
    0px 2px 6px rgba(0, 0, 0, 0.14),
    inset 0.389333px 0.712479px 0.973331px rgba(255, 255, 255, 0.2),
    inset 1.82402px 2.79735px 4.54546px rgba(255, 255, 255, 0.2),
    inset 0px -1.168px 1.55733px rgba(96, 96, 96, 0.1);
  padding-top: 3px;
}
.nftDetail {
  width: 100%;
}

.breakLine {
  width: 100%;
  height: 1px;
  background: linear-gradient(116.57deg, #000000 16.67%, #bf3ddb 100%);
  margin: 0rem 0;
}

.payWithCardCard {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.poweredSection {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.poweredText {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-align: center;
}

.secondStepSection {
  width: 100%;
  height: 100%;
}

.thirdStepSection {
  width: 100%;
  padding: 1rem 5%;
  padding-top: 3rem;
}

.stepTitle {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 12px;
  color: #6b6f80;
  margin-bottom: 12px;
  padding-left: 15px;
}
.stepTitleFont {
  font-family: "NeueMontreal";
  font-weight: 500;
  font-size: 14px;
  color: black;
  margin-bottom: 12px;
  padding-left: 15px;
}

.otpSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
  padding: 0 10px;
}

.inputError {
  font-family: "NeueMontreal";
  font-weight: 500;
  font-size: 12px;
  color: rgb(185, 22, 22);
  margin-left: 1rem;
}

.walletInput {
  margin: 0 20px;
  width: 88.5%;
  height: 52px;
  align-items: center;
  padding-left: 2rem;
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: black;
  background: #f7f7f8;
  border: 3px solid #eeeeee;
  border-radius: 21px;
  //on selected active to change color
  &:focus {
    outline: none;
    border: 3px solid #eb98fd;
  }
}

.cardNumberInput {
  width: 45%;
  height: 78px;
  background-color: #d9d9d9;
  padding-left: 1rem;
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 24px;
  color: black;
  border: none;
  margin-top: 2rem;
}

.cardDateInput {
  width: 20%;
  height: 78px;
  background-color: #d9d9d9;
  padding-left: 1rem;
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 24px;
  color: black;
  border: none;
  margin-top: 2rem;
}

.cardCvcInput {
  width: 15%;
  height: 78px;
  background-color: #d9d9d9;
  padding-left: 1rem;
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 24px;
  color: black;
  border: none;
  margin-top: 2rem;
}

.cardPostcodeInput {
  width: 20%;
  height: 78px;
  background-color: #d9d9d9;
  padding-left: 1rem;
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 24px;
  color: black;
  border: none;
  margin-top: 2rem;
}

.btnsSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem 20px;
  align-items: flex-end;
  margin-top: 1rem !important;
}

.backBtn {
  width: 20%;
  cursor: pointer;
  padding-bottom: 1rem;
  padding-left: 14px;
}

.backText {
  font-family: "NeueMontreal";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #6b6f80;
}

.stepDescription {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.fourthStepSection {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.finalStepSection {
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.finalStepTitleSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tryText {
  font-family: "NeueMontreal";
  font-weight: 500;
  font-size: 25px;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.viewFlowScanSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.buyAgainBtnSection {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  width: 90%;
}

.firstStepSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardsDetail {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.walletInput,
.cardNumberInput,
.cardDateInput,
.cardCvcInput,
.cardPostcodeInput {
  font-size: 17px;
  height: 52px;
  font-weight: 300;
}

@media screen and (max-width: 1250px) {
  .otpFieldInput {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .imageSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descriptionSection {
    width: 100%;
    text-align: center;
  }
  .backBtn {
    width: 40%;
  }
  .walletInput,
  .cardNumberInput,
  .cardDateInput,
  .cardCvcInput,
  .cardPostcodeInput {
    font-size: 19px;
    padding-left: 0.4rem;
  }
}
