.imgCard {
  width: 160px;
  height: 140px;
  border-radius: 20px;
  background-color: black;
  filter: drop-shadow(0px 4.61385px 20.4504px #290930);
}

.image {
  border-radius: 20px;
}

// @media screen and (max-width: 1300px) {
//   .imgCard {
//     width: 140px;
//     height: 120px;
//   }
// }

// @media screen and (max-width: 550px) {
//   .imgCard {
//     width: 140px;
//     height: 120px;
//   }
// }
