.container {
  width: 100%;
  height: 100%;
  padding: 0% 3%;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "NeueMontreal";
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-bottom: 1rem;
}

.eventInput {
  width: 100%;
  height: 52px;
  background-color: #d9d9d9;
  align-items: center;
  padding-left: 1rem;
  font-family: "NeueMontreal";
  font-weight: 300;
  font-size: 17px;
  color: black;
  border-radius: 50px;
  border: none;
  align-items: flex-start;
}

.socialRow {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.btnSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

.imageSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 40px;
}

.imgCard {
  width: 210px;
  height: 170px;
  border-radius: 20px;
  background-color: black;
}

.nftImg {
  border-radius: 20px;
}

.descriptionSection {
  width: 52%;
  padding: 1rem;
}

.tryPayGlideText,
.tryPayGlideTextCongratz {
  font-family: "NeueMontreal";
  font-weight: 600;
  font-size: 29px;
  color: black;
}

.tryPayGlideDescription {
  margin-top: 0.5rem;
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
  line-height: 1.3rem;
}

.socialSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 0rem;
  align-items: center;
}

.nftDetail {
  width: 100%;
  padding: 0 50px;
}

.previewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3% 5%;
  padding: 5% 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.detailsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0% 2%;
}

.breakLine {
  width: 100%;
  height: 1px;
  background: linear-gradient(116.57deg, #000000 16.67%, #bf3ddb 100%);
  margin: 0rem 0;
}

.firstStepSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.payWithCardCard {
  width: 100%;
  padding-top: 1rem;
  margin-top: 4rem;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.poweredSection {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.poweredText {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .tryPayGlideText {
    font-size: 24px;
  }

  .tryPayGlideDescription {
    font-size: 14px;
  }

  .imgCard {
    width: 250px !important;
    height: 140px;
  }

  .descriptionSection {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .card {
    height: 1150px;
  }
  .imageSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descriptionSection {
    width: 100%;
    text-align: center;
  }
  .backBtn {
    width: 40%;
  }
  .socialSection {
    width: 100%;
    justify-content: center;
  }
  .imgCard {
    width: 200px;
    height: 160px;
  }
  .tryPayGlideText {
    font-size: 24px;
  }
  .tryPayGlideDescription {
    font-size: 14px;
  }
}
