.container {
  width: 100%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  min-height: 70px;
}

.titleText {
  font-family: "NeueMontreal";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.description {
  font-family: "NeueMontreal";
  font-size: 13px;
  font-weight: 300;
  color: black;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 550px) {
  .titleText {
    text-align: center;
  }
  .description {
    text-align: center;
  }
}
