.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btnCard {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.confirmText {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 2rem;
}

.labelValueRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: #424242;
}

.value {
  font-size: 14px;
  font-weight: 700;
  color: black;
  min-width: 120px;
}

.checkBoxSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

input.checkboxInput {
  width: 55px;
  height: 30px;
  background-color: #d9d9d9;

  &:checked {
    width: 55px;
    height: 30px;
    background-color: #d9d9d9;
  }
}

.terms {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.termsLinkText {
  font-family: "NeueMontreal";
  font-size: 16px;
  color: black;
  font-weight: 600;
  display: inline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 550px) {
  .labelValueRow {
    width: 100%;
    justify-content: space-between;
  }
}
