.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btnCard {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.confirmText {
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-bottom: 16px;
}

.labelValueRow {
  display: flex;
  height: 27px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px dashed #eeeeee;
  margin-bottom: 13px;
}

.label {
  font-family: "NeueMontreal";
  font-size: 12px;
  font-weight: 400;
  color: #6b6f80;
}

.totalText {
  font-family: "NeueMontreal";
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-bottom: 16px;
}

.value {
  font-size: 12px;
  font-weight: 500;
  color: black;
  padding-right: 1rem;
}

.deliveryLabel {
  font-family: "NeueMontreal";
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-bottom: 16px;
}
.deliveryValue {
  font-family: "NeueMontreal";
  font-size: 15px;
  font-weight: 700;
  color: black;
  margin-bottom: 16px;
}

.checkBoxSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

input.checkboxInput {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  border: 2px solid #eeeeee;
  border-radius: 10px;

  &:checked {
    width: 30px;
    height: 30px;
    background-color: #d9d9d9;
    border: 2px solid #eeeeee;
    border-radius: 10px;
  }
}

.terms {
  font-family: "NeueMontreal";
  font-weight: 400;
  font-size: 12px;
  color: black;
  padding-left: 1rem;
}

.termsLinkText {
  font-family: "NeueMontreal";
  font-size: 13px;
  color: black;
  font-weight: 600;
  display: inline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
